/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.social-svg {
  fill: #aaaaaa;
  opacity: .3;
}

.social-svg:hover {
  fill: #bbbbbb;
  opacity: .4;
}
.play-video,svg 
.play-video {
  background-size: 20px 20px;
  background-image: url("/assets/img/right-arrow-circle.svg");
  background-position: left center;
  padding-left: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  color: #000;
  text-decoration: none;
opacity: .6;
}
.modal-backdrop
{
  opacity:0.85 !important;
}

.play-video:focus,
.play-video:hover {
	color: #000;
	opacity: 9;
  text-decoration: none;

}
.linkedin,svg 
.linkedin{
  background-size: 20px 20px;
  background-image: url("/assets/img/linkedin.svg");
  background-position: left center;
  padding-left: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  color: #000;
  text-decoration: none;
opacity: .6;
}
.linkedin:focus,
.linkedin:hover {
	color: #000;
	opacity: 9;
  text-decoration: none;

}

.stop-video {
  background-size: 20px 20px;
  background-image: url("/assets/img/close.svg");
  background-position: left center;
  padding-left: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #fff;
  fill: #fff;
}

.stop-video:focus,
.stop-video:hover {
  text-decoration: none;
  color: #cdcdcd;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.fast{
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.store {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1000em;
  color: #fff;
  background-color: #efefef !important;
}

.navbar-logo {
  padding-top: 3px;
}

.block-light {
  background: #efefef;
  color: #333;
}

.gest-hero-img {
  width: 70%;
  margin-bottom: -120px;
}

@media (min-width: 768px) {
  .gest-hero-img {
    width: 50%;
    margin-top: -30px;
    margin-bottom: -80px;
    height: 480px;
  }
}
@media (min-width: 991px) {
  .gest-hero-img {
    width: 50%;
    margin-top: -120px;
    margin-bottom: -80px;
    height: 480px;
  }
}


::selection{
	color: #efefef;
	background: #eea236;
}

:active {
	outline: none !important;
}

* {
	outline: none !important;
}
